.tasks{
  padding: 0;
}
.tasks li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0 0.7em 1em;
  font-size: 1.1em;
  border-bottom: 1px solid #eaeaea;
  border-left: 6px solid #eaeaea;
  border-radius: 5px 0 0 5px;
  transition: 0.2s border-left-width ease-in-out
}

.tasks li:hover{
  border-left-width: 15px;
}

.item_form{
  display: none;
}

.tasks .tasks_work{ border-left-color: red; color: red;}
.tasks .tasks_perso{ border-left-color: blue; color: blue;}
.tasks .tasks_cart{ border-left-color: purple; color: purple;}
.tasks .tasks_green{ border-left-color: green; color: green;}

.item-actions a{
  color: black;
  padding: 7px 10px;
  font-size: 0.8em;
}

.done{
  opacity: 0.3;
}


.filters .tasks_work{ border-left-color: red; color: red;}
.filters .tasks_perso{ border-left-color: blue; color: blue;}
.filters .tasks_cart{ border-left-color: purple; color: purple;}
.filters .tasks_green{ border-left-color: green; color: green;}
